<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yong`s Board</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/get1.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="header_wrapper">
        <div class="header">
            <div class="logo">
                <a href="/board/list">Yong`s board</a>
            </div>
            <div class="hd_link">
                <a sec:authorize="isAnonymous()" th:href="@{/user/login}"><i class="fas fa-sign-in-alt"></i> 로그인</a>
            </div>
            <div class="hd_link" >
                <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}"><i class="fas fa-sign-out-alt"></i></i> 로그아웃</a>
            </div>
        </div>
    </div>
    <div class="contents">
        <div class="ct_head">
            <h2>게시물</h2>
        </div>
        <div class="ct_body">
            <div class="form-group">
                <input type="text" name="title" th:value="${board.title}" placeholder="Title" class="input_title"
                       style="font-family: Georgia, 'Times New Roman', Times, serif;" readonly="readonly">
            </div>
            <div class="form-group">
                <div contenteditable="false" th:text="${board.content}" placeholder="contents..." class="form_contents" spellcheck="false"></div>
            </div>
            <div class="form-group">
                <input type="text" name="writer" th:value="${board.writer}" readonly="readonly">
            </div>

            <div class="uploadDiv">
                <label>첨부파일</label><br>
                <div class="uploadResult">
                    <ul>
                    </ul>
                </div>
            </div>
            <button class="btn" data-oper="list">List</button>
            <button th:if="${#authentication.name == board.writer}" class="btn" data-oper="modify">수정</button>

            <form action="/board/modify" method="get" id="operForm">
                <input type="hidden" name="bno" th:value="${board.bno}" id="bno">
                <input type="hidden" name="pageNum" th:value="${cri.pageNum}">
                <input type="hidden" name="amount" th:value="${cri.amount}">
                <input type="hidden" name="type" th:value="${cri.type}">
                <input type="hidden" name="keyword" th:value="${cri.keyword}">
            </form>
        </div>
        <div class="reply">
            <div class="reply_header">
                <p><i class="fas fa-comment-dots"></i> 댓글
                    <button sec:authorize="isAuthenticated()" id="addReplyBtn">댓글 쓰기</button>
                </p>
            </div>
            <div class="reply-body">
                <ul class="chat">
                </ul>
            </div>
            <div class="reply-footer">
                <div class="paging">
                    <ul class="paginate">
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="modal">
    <div class="modal-dialog">
        <div class="modal-header">
            <h3>댓글 등록</h3>
        </div>
        <div class="modal-body">
            <input type="text" name="reply" placeholder="댓글"><br>
            <input type="text" name="replyer" th:value="${#authentication.name}" readonly="readonly">
        </div>
        <div class="modal-footer">
            <button class="modalRegisterBtn">등록</button>
            <button class="modalModBtn">수정</button>
            <button class="modalRemoveBtn">삭제</button>
            <button class="modalCloseBtn">취소</button>
        </div>
    </div>

    <div class="modal-layer">

    </div>
</div>
<script src="/js/reply.js"></script>
<script type="text/javascript">
$(document).ready(function(){

    let operForm = $("#operForm");

    $(".form_contents").html(unescape($(".form_contents").html()));

    $("button[data-oper='list']").on("click", function(e){
        e.preventDefault();

        operForm.find("#bno").remove();
        operForm.attr("action", "/board/list");
        operForm.submit();
    });

    $("button[data-oper='modify']").on("click", function(e){
        e.preventDefault();
        // operForm.append("<input type='hidden' name='writer' value='[[${board.writer}]]' />");
        operForm.submit();
    });

});
</script>
<script th:inline="javascript" ></script>
<script th:inline="javascript" >
$(document).ready(function (){

    /*<![CDATA[*/
    var csrfTokenValue = /*[[${_csrf.token}]]*/ '';
    var csrfHeaderName = /*[[${_csrf.headerName}]]*/ '';
    /*]]>*/

    $(document).ajaxSend(function(e, xhr, options){
        xhr.setRequestHeader(csrfHeaderName, csrfTokenValue);
    });


    let bno = $("#bno").val();

    showList(1);

    function showList(page) {
        replyService.getList({bno:bno, page:page}, function(list, replyCnt) {
            if(page == -1) {
                pageNum = Math.ceil(replyCnt / 10);
                showList(pageNum);
                return;
            }

            if (list.length == 0 || list == null) {
                $(".chat").html("");
                return;
            }

            let str = "";

            for(let i = 0; i < list.length; i++) {
                str += "<li data-rno='"+list[i].rno+"'><p><strong>"+ list[i].replyer +"</strong><span> "+ replyService.displayTime(list[i].replyDate) +"</span></p>";
                str += "<div>"+ list[i].reply+ "</div></li>";
            }
            $(".chat").html(str);
            showReplyPage(replyCnt);
        });
    }

    let modal = $(".modal");
    let modalInputReply = modal.find("input[name='reply']");
    let modalInputReplyer = modal.find("input[name='replyer']");

    let modalRegisterBtn = $(".modalRegisterBtn");
    let modalModBtn = $(".modalModBtn");
    let modalRemoveBtn = $(".modalRemoveBtn");
    let modalCloseBtn = $(".modalCloseBtn");

    $("#addReplyBtn").on("click", function(e){
        e.preventDefault();
        modalInputReply.val("");
        modal.find("button[class !='modalCloseBtn']").hide();
        modalCloseBtn.show();
        modalRegisterBtn.show();
        modal.show();
    });

    modalRegisterBtn.on("click", function(){
       let reply = {reply:modalInputReply.val(), replyer:modalInputReplyer.val(), bno:bno};

       replyService.add(reply, function(result){
           alert(result);
           modal.find("input").val("");
           modal.hide();
           showList(-1);
       });
    });

    modalCloseBtn.on("click", function(){
        modal.hide();
    });

    /*<![CDATA[*/
    let member = /*[[${#authentication.name}]]*/ '';
    /*]]>*/

    $(".chat").on("click", "li", function(){

        let rno = $(this).data('rno');
        replyService.getOne(rno, function(result){
            if(result.replyer != member){
                return false;
            }
           modalInputReplyer.val(result.replyer);
            modalInputReply.val(result.reply);
            modal.find("button[class != modalCloseBtn]").hide();
            modalModBtn.show();
            modalRemoveBtn.show();
            modal.data('rno', rno);
            modal.show();
        });

    });

    modalModBtn.on("click", function (){
       let reply = {reply:modalInputReply.val(), replyer:modalInputReplyer.val(),rno:modal.data('rno')};

       replyService.update(reply, function(result){
           modal.find("input").val("");
           modal.hide();
           showList(pageNum);
       });
    });

    modalRemoveBtn.on("click", function (){
       let rno = modal.data("rno");
        replyService.remove(rno, function (result){
            alert(result);
            modal.hide();
           showList(pageNum);
        });
    });

    let pageNum = 1;

    function showReplyPage(replyCnt) {
        let endNum = Math.ceil(pageNum / 10.0) * 5;
        let startNum = endNum - 4;

        let prev = startNum != 1;
        let next = false;

        if (endNum * 10 > replyCnt) {
            endNum = Math.ceil(replyCnt / 10.0);
        }

        if (endNum * 10 < replyCnt) {
            next = true;
        }

        let str = "";

        if (prev) {
            str += "<li><a href='"+ (startNum - 1) +"'>prev</a></li>";
        }

        for (let i = startNum; i <= endNum; i++){
            let active = pageNum == i ? 'active' : '';
            str += "<li class='"+active+"'><a href='"+ i +"'>" + i + "</a></li>";
        }

        if (next) {
            str += "<li><a href='"+ (endNum + 1) +"'>next</a></li>";
        }

        $(".paginate").html(str);
    }

    $(".paginate").on("click", "li a", function (e){
        e.preventDefault();
        pageNum = $(this).attr("href");
        console.log(pageNum);
        showList(pageNum);
    });

    $.getJSON("/board/getAttachList", {bno: bno}, function (list) {
        let str = "";
        for(let i=0; i<list.length; i++) {

            if(!list[i].image) {
                let fileCallPath = encodeURIComponent(list[i].uploadPath + "/" + list[i].uuid + "_" + list[i].fileName);

                str += "<li><a href='/download?fileName="+ fileCallPath +"'><i class='fas fa-file-alt'></i> "+list[i].fileName+"</a></li>"
            }
        }

        $(".uploadResult ul").append(str);
    });

});

</script>

</body>
</html>