<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yong`s Board</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/register1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="header_wrapper">
        <div class="header">
            <div class="logo">
                <a href="/board/list">Yong`s board</a>
            </div>
            <div class="hd_link" >
                <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}"><i class="fas fa-sign-out-alt"></i></i> 로그아웃</a>
            </div>
        </div>
    </div>
    <div class="contents">
        <div class="ct_head">
            <h2>게시글 작성</h2>
        </div>
        <div class="ct_body">
            <form th:action="@{/board/register}" method="post" id="boardForm" th:object="${boardForm}">
                <div class="form-group">
                    <input type="text" name="title" th:field="*{title}" placeholder="Title" class="input_title" style="font-family: Georgia, 'Times New Roman', Times, serif;">
                </div>
                <div class="form-group">
                    <div contenteditable="true" placeholder="contents..." class="form_contents" spellcheck="false" id="text_content"></div>
                    <textarea name='content' th:field="*{content}" style="display:none;"></textarea>
                </div>
                <div class="form-group">
                    <input type="text" name="writer" th:value="${#authentication.name}">
                </div>
            </form>
            <div class="uploadDiv">
                <label>첨부파일</label><br>
                <input type="file" name="uploadFile" multiple="multiple">
                <div class="uploadResult">
                    <ul>
                    </ul>
                </div>
            </div>
            <button class="btn" id="submitBtn">등록</button>
        </div>
        <div class="ct_footer">

        </div>

    </div>


</div>

</body>
</html>
<script th:inline="javascript" >
$(document).ready(function(){

    $("#submitBtn").on("click", function(e){
        e.preventDefault();

        let content = escape($("#text_content").html());
        $("textarea[name='content']").val(content);

        let str = "";
        let fileCount = 0;

        $(".form_contents div img").each(function (){
            str += "<input type='hidden' name='attachList["+ fileCount +"].fileName' value='"+ $(this).data("filename") +"'>";
            str += "<input type='hidden' name='attachList["+ fileCount +"].uuid' value='"+ $(this).data("uuid") +"'>";
            str += "<input type='hidden' name='attachList["+ fileCount +"].image' value='"+ $(this).data("type") +"'>";
            str += "<input type='hidden' name='attachList["+ fileCount +"].uploadPath' value='"+ $(this).data("path") +"'>";

            fileCount++;
        });

        $(".uploadResult ul li").each(function () {
            str += "<input type='hidden' name='attachList["+ fileCount +"].fileName' value='"+ $(this).data("filename") +"'>";
            str += "<input type='hidden' name='attachList["+ fileCount +"].uuid' value='"+ $(this).data("uuid") +"'>";
            str += "<input type='hidden' name='attachList["+ fileCount +"].image' value='"+ $(this).data("type") +"'>";
            str += "<input type='hidden' name='attachList["+ fileCount +"].uploadPath' value='"+ $(this).data("path") +"'>";

            fileCount++;
        });

        $("#boardForm").append(str);
        $("#boardForm").submit();
    });

    /*<![CDATA[*/
    var csrfTokenValue = /*[[${_csrf.token}]]*/ '';
    var csrfHeaderName = /*[[${_csrf.headerName}]]*/ '';
    /*]]>*/

    $(document).ajaxSend(function(e, xhr, options){
        xhr.setRequestHeader(csrfHeaderName, csrfTokenValue);
    });

    $("input[type='file']").change(function () {

        let formData = new FormData();
        let inputFile = $("input[name='uploadFile']");
        let files = inputFile[0].files;

        for (let i = 0; i < files.length; i++) {

            if (!checkExtension(files[i].name, files[i].size)) {
                return false;
            }
            formData.append("uploadFile", files[i]);
        }

        $.ajax({
            url:"/uploadAjaxAction",
            type:"post",
            contentType:false,
            processData:false,
            data:formData,
            dataType:"json",
            success: function (result) {
                showUploadResult(result);
            }
        })
    });

    let maxSize = 5242880;
    let regex = new RegExp("(.*?)\.(exe|sh|zip|alz)$");

    function checkExtension(fileName, fileSize) {
        if (fileSize > maxSize) {
            alert("파일 용량 초과");
            return false;
        }

        if (regex.test(fileName)) {
            alert("해당 종류의 파일은 업로드 할 수 없습니다.");
            return false;
        }
        return true;
    }

    function showUploadResult(result) {
        if(result == null || result.length == 0) {
            return;
        }

        $(result).each(function(i, obj){
           let fileCallPath = encodeURIComponent(obj.uploadPath + "/" + obj.uuid + "_" + obj.fileName);
           let str = "";

            if (obj.image) {
                str += "<div><img src='/display?fileName="+ fileCallPath +"' data-path='"+obj.uploadPath+"' data-filename='"+ obj.fileName +"' data-uuid='"+ obj.uuid +"' data-type='"+ obj.image +"'></div>"
                $(".form_contents").append(str);
            } else {
                str += "<li data-path='"+obj.uploadPath+"' data-uuid='"+obj.uuid+"' data-filename='"+obj.fileName+"' data-type='"+obj.image+"'><i class='fas fa-file-alt'></i> "+obj.fileName+" <span data-file='"+fileCallPath+"' data-type='file'><i class='fas fa-trash'></i></span></li>"

                $(".uploadResult ul").append(str);
            }
        });
    }

    $(".uploadResult").on("click", "span", function () {
        let targetLi = $(this).closest("li");
        let fileName = $(this).data("file");

        $.ajax({
            url:'/deleteFile',
            type:'post',
            data:{fileName:fileName},
            dataType: "text",
            success: function (result) {
                alert(result);
                targetLi.remove();
            }
        })
    });


});
</script>