* { margin: 0; padding: 0;}
ul,ol {
    list-style: none;
}
a { text-decoration: none;
    color:inherit;
}


.modal {
    z-index: 1;
    display: none;
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal button {
    margin: 10px 0;
    height: 40px;
    font-size: 13px;
    padding: 0 12px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
}

.modal button:hover {
    color: #4279ff;
    border: 1px solid #4279ff;
}
.modal-header {
    margin: 30px 0;
    border-bottom: 1px solid #4279ff;
    padding: 5px 0;
}

.modal-dialog {
    z-index: 3;
    width:400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0px 10px;
    background:#fff;
    border:2px solid #666;
    border-radius: 10px;
}
.modal-body input {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.modal-body {
    font-size: 14px;
}
.modal-footer {
    /* border-top: 1px solid #4279ff; */
    margin: 15px 0;
}

.modal-layer {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.2);
    z-index: 2;
}