<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Yong`s Board</title>
</head>
<body>
    
    <div class="wrapper">

        <div class="logo">
            <a href="/board/list">Yong`s Board</a>
        </div>

        <form action="/user/signup" method="post">
            <input type='hidden' th:name="${_csrf.parameterName }" th:value="${_csrf.token }"/>
            <div>
                <input type="text" name="userId" placeholder="아이디" class="input_text">
                <p></p>
                <p id="idInfo"></p>
            </div>
            <div>
                <input type="password" name="password" placeholder="비밀번호" class="input_text">
                <p id="pwInfo"></p>
            </div>
            <div>
                <input type="password" placeholder="비밀번호 확인" class="input_text">
            </div>
            <div>
                <input type="text" name="userName" placeholder="이름" class="input_text">
                <p id="nameInfo"></p>
            </div>
            <button type="submit" id="signUpBtn">회원가입</button>
        </form>

    </div>

    <script type="text/javascript">
        $(document).ready(function(){

            $("#signUpBtn").on("click", function () {
                $("form").submit();
            });
        })
    </script>

</body>
</html>